.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}
.card{
    margin-left: 30px;
}
.pagination{
    justify-content: center;
}
.spinner-grow{
    margin-top: 20px;
    margin-left: 20px;
}
@media screen and (max-width: 1030px){
    .section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 675px){
    .section{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        width: 50%;
    }
}